/* Feel free to style me! */


html {
  scroll-behavior: smooth;
 }
body {
  margin: 0px;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8c9491;
}

.topnav {
  overflow: hidden;
  background-color: #2a2f33;
  /* font-size: 25px; */
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  list-style-type: none;
  font-family: "Times New Roman", Times, serif;
}
ul {
  list-style-type: none;
}

.m{
  overflow: hidden;
  float: left;
 
  padding: 15px;
  text-decoration: none;
  font-size: 40px;


}
t {
  overflow: hidden;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 15px;
  margin-left: 25px;
  text-decoration: none;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
t:hover {
  color: #ed711e;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-position: -99.99% 0;
  color: #ed711e;
}

.topnav a.active {
  background-color: #ed711e;
  color: #ed711e;
}

.faceimg {
  width: 350px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 35px;
  margin-bottom: 1px;
  float: right;
}
.faceimg img {
  width: 350px;
  height: 300px;
}

.des {
  text-align: left;

  margin-right: 500px;
}
.faceimagetext {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 20px;
  text-align: center;
  margin-top: 300px;
  margin-right: -300px;

  float: right;
}

.name {
  margin: 25px;
  text-transform: uppercase;
  font-size: 85px;
  font-weight: bolder;
  background: linear-gradient(
    to right,
    #e1ae40,
    #e59935,
    #e98529,
    #ed711e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.y {
  margin-left: 25px;
}
.intro {
  margin: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: left;
  margin-right: 500px;
  color: #000;
}

.interests {
  margin: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.idealjob {
  margin: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: left;
}

.techskills {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: -15px;
  margin-left: -30px;
}

.softskills {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: -15px;
  margin-left: -30px;
}
.row {
  display: flex;
  margin-top: 50px;
  margin-right: 1000px;
}

.column {
  font-family: "Times New Roman", Times, serif;
  float: left;
  width: 25%;
  padding: 8px 10px;

  text-align: center;

  margin-top: 5px;
  float: left;
  flex: 1;

  border: solid;
}
legend {
  border: 1px solid #000;
}

.jobimg {
  width: 550px;
  height: 450px;
  overflow: hidden;
  margin-right: -75px;
  margin-bottom: 1px;
  float: right;
}

.jobimg img {
  /* width: 500px; */
  height: 200px;
  border: 2px solid #000;
}

.jobimagetext {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 15px;

  margin-left: 150px;
}

.footer {
  overflow: hidden;
  background-color: #2a2f33;
  color: white;
  font-size: 20px;
text-align: center;
  font-family: "Times New Roman", Times, serif;
  flex: 1 0 auto;
}

.MyProfile {
  margin: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: left;
}

.container {
  display: flex;
}
.container > div {
  flex: 1;
}
.test1 img {
  width: 400px;
  height: 400px;
  margin: 25px;
  border: 2px solid #000;
}

.test2 img {
  width: 500px;
  height: 400px;
  margin: 25px;
  border: 2px solid #000;
}
.test3 img {
  width: 400px;
  height: 400px;
  margin-left: 65px;
  margin-top: 25px;
  border: 2px solid #000;
}

.ProjectIdea{
  margin: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: left;
}

.motivation {
  text-align: left;
  margin-right: 600px;
}

.motivationimg img {
  overflow: hidden;
  margin-right: 35px;
  margin-top: -275px;
  float: right;
  width: 450px;
  height: 275px;

  border: 2px solid #000;
}

.d {
  text-align: left;
  margin-right: 600px;
}


.waste2img img {
  overflow: hidden;
  margin-right: 35px;
  margin-top: -350px;
  float: right;
  width: 470px;
  height: 300px;

  border: 2px solid #000;
}


